{% macro present_log(log, show_owner=False) %}
<p>
    {% if show_owner %}<small>{{ _('%(owner)ss Log: ', owner=log.owner) }}</small>{% endif %}{{ log.title }}<br>
    <ul>
        {% for entry in log.entries %}
        <li>
            {% if entry.creator != log.owner -%}
            <small>{{ _('%(creator)s says: ', creator=entry.creator) }}</small>
            {%- endif %}
            {{ entry.content }}
            <small>
                {{ moment(entry.ctime).fromNow() }}
                <a href="{{ url_for('console.delete_entry', id=entry.id) }}">{{ _("Delete Entry") }}</a>
            </small>
        </li>
        {% endfor %}
    </ul>
</p>
{% endmacro %}


{% extends 'base.html' %}

{% block content %}
<h1>{{ _('Hello %(user)s', user=user) }}</h1>
<p>{{ _("Here's your API Token for Logbuch:") }}</p>
<pre>
{{ user.api_token.value }}
</pre>
<p>{{ _("Please check for a new API Token after:") }}</p>
{% set exp_date = user.api_token.expiration_date %}
{{ moment(exp_date).format('LLLL') }} ({{ moment(exp_date).fromNow() }})

<hr>

{{ _("Last Entries") }}

{% for log in user.my_logs %}
{{ present_log(log) }}
{% endfor %}

<hr>

{% for log in user.foreign_logs %}
{{ present_log(log, show_owner=true) }}
{% endfor %}

{% endblock content %}