<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>Logbuch – {{ title }}</title>
    {% else %}
    <!-- TODO: übersetzen -->
    <title>{{ _("Welcome to Logbuch") }}</title>
    {% endif %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li><span class="alert">{{ message }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}

    {% block scripts %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    {% endblock scripts %}
</body>
</html>